/* -------------------------
Template Design CSS 
============================= */

/* Header area */
body,
html,
header {
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.16);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--primary);
}

/* ====== Background ====== */
.page-title-section {
  background-image: url(../image/bg/programmer.jpg);
}

/* ====== Humberger Menu ====== */
.header-area {
  width: 20%;
  height: 100%;
  box-shadow: var(--box-shadow);
  padding: 0 30px;
  position: fixed;
  left: -20%;
  top: 0;
  z-index: 5;
  background-color: #fff;
  transition: left 0.8s ease;

  &.humberger-active {
    left: 0;
  }

  .humberger-menu {
    .author-image {
      width: 150px;
      height: 150px;
      background-color: var(--bg);
      border: 5px solid var(--primary);
      margin: 30px auto;
      border-radius: 50%;
    }

    .author-info {
      .info-box {
        padding: 30px;
        background-color: var(--primary);
        margin-bottom: 30px;
        text-align: center;
        position: relative;
        z-index: 1;

        .icon-box {
          width: 55px;
          position: absolute;
          z-index: -1;
          opacity: 0.2;
          right: 22px;
          top: 10px;
        }

        & a,
        & p {
          color: #fff;
          font-size: 1rem;
          margin: 0;
          line-height: 1.4;
        }
      }
    }
  }
}

/* ====== page title ====== */
.page-title-section {
  padding: 100px 0 250px;
  background-size: cover;
  background-position: top center;

  h1 {
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--light-color-02);
  }

  p {
    color: #fff;
  }
}

.title-overlay {
  position: relative;
  z-index: 1;
}

.title-overlay:after {
  @include after;
}

/* project -list*/
.project-list-section {
  position: relative;
  top: -150px;
  z-index: 1;

  .project-container {
    background-color: #fff;
    padding: 50px 30px;
    box-shadow: var(--box-shadow);
  }

  .project-list-table {
    width: 100%;
  }

  table,
  th,
  td {
    border-collapse: collapse;
    border: 2px solid #fff;
    text-align: left;
    padding: 5px 15px;
  }

  tr {
    background: var(--light-color-02);
    a {
      display: block;
    }

    &:hover {
      background: var(--light-color-01);
      color: var(--primary);
      a {
        color: var(--primary);
      }
    }
  }
  th {
    background: var(--primary);
    color: #fff;
  }
}

.project-image {
  img {
    width: 100%;
  }
}

/*Password Generator*/
.p-generator-inner {
  border: 1px solid #ddd;
  padding: 2rem;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 3rem;
  row-gap: 1rem;
}

.display-password {
  width: 100%;
  background-color: var(--light-color-02);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}

.password-generate-btn {
  grid-column: span 2;
  padding: 0.8rem;
  cursor: pointer;
}

#characterAmountRange {
  -webkit-appearance: none;
  height: 30px;
  width: 77%;
  background: var(--light-color-02);
}

#characterAmountRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: var(--primary);
  width: 15px;
  height: 30px;
}

#characterAmountNumber {
  border: none;
  background: var(--light-color-02);
  color: var(--primary);
  font-size: 16px;
  height: 30px;
  float: right;
  text-align: center;
  margin-top: 0px;
  width: 20%;
}

#characterAmountNumber:focus {
  outline: none;
}
